<template>

  <div class="clockWrapp">
  	<h1>Ход второго игрока</h1>
  	<Clock :time="prettyTime" player="oneplayer" :twoTime="times.one_player" :statePlayer="false"/>
  	<Clock :time="prettyTime" player="twoplayer" :twoTime="times.two_player" :statePlayer="true"/>
  </div>

</template>

<script>
import Clock from '@/components/Clock.vue'

export default {
  name: 'two_player',
  components: {
    Clock
  },
  data(){
  	return {
  		time: 120,
      timer: null
  	}
  },
  methods: {
    start() {
      if (!this.timer) {
        this.timer = setInterval( () => {
          if (this.time > 0) {
            this.time--
          }else{
            clearInterval(this.timer)

            this.reset()
          }
        }, 1000 )
      }
    },
    reset(){
      this.timer = null
      this.time = 120
    }
  },
  computed: {
  	times() {
  		return this.$store.state
  	},
  	prettyTime() {
  		let time = this.time / 60
  		let minutes = parseInt(time)
		  let secondes = Math.round((time - minutes) * 60)

		  return minutes+":"+secondes
  	}
  },
  created() {
    let data = this.times.two_player.split(':')
    let min = parseInt(data[0]) * 60
    let sec = parseInt(data[1])
    this.time = (min + sec)
    this.start()
  }
}

</script>