<template>
	<div class="clockWrapp__time">
		<div v-if="statePlayer">
			{{ time | prettify }}
		</div>

		<div v-else>
			{{ twoTime }}
		</div>

		<div>
		  	<b-button v-if="statePlayer" @click="saveTime()" variant="success">
				<router-link :to="resultres()">Завершить ход</router-link>
			</b-button>
		  <b-button v-else disabled variant="success">
		  	Завершить ход
		  </b-button>
		</div>
	</div>
</template>

<script>

export default {
	name: 'Clock',
	props: ['time', 'statePlayer', 'twoTime', 'player'],
	filters: {
		prettify(value){
			let data = value.split(':')
			let min = data[0]
			let sec = data[1]
			if (min < 10) { min =`0${min}`}
			if (sec < 10) { sec =`0${sec}`}

			return `${min}:${sec}`
		}
	},
	methods: {
		saveTime(){
			this.$store.commit('loadStatePLayers', {player:this.player, res: this.pretti(this.time)})
		},
		pretti(value){
			let data = value.split(':')
			let min = data[0]
			let sec = data[1]
			if (min < 10) { min =`0${min}`}
			if (sec < 10) { sec =`0${sec}`}

			return `${min}:${sec}`
		},
		resultres(){
			if(this.player === 'oneplayer') return '/twoplayer'
			else return '/'
		}
	},
	beforeDestroy() {
		this.$store.commit('loadStatePLayers', {player:this.player, res: this.pretti(this.time)})
	}
	
}

</script>

<style scoped lang="sass">



</style>