<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style scoped lang="sass">

#app
	width: 350px
	margin: 0 auto

.clockWrapp
	margin: 10px
	padding: 10px
	font-size: 24px

</style>
